.shadows-into-light {
    font-family: "Shadows Into Light", cursive;
}

.PT-serif {
    font-family: "PT Serif", serif;
}

.karla {
    font-family: "Karla", sans-serif;
}

/* .workor-bg::after {
    position: absolute;
    content: "";
    top: 266.3%;
    left: 0;
    width: 100%;
    height: 70vh;
    background: #35916cd7;
} */